<?xml version="1.0"?>
<launch>

  <node pkg="map_server" type="map_server" name="map_server" args="/home/m1/Turtlebot_cooridoor/acml/map.yaml" >
  
  <param name="frame_id" value="2d_map_frame"/>
  
  </node>

   <!-- turtlebot bringup-->
   <include file="$(find turtlebot_bringup)/launch/minimal.launch" />


  <!-- Define laser type-->
  <arg name="laser_type" default="hokuyo" />
  
  <!-- laser driver -->
  <include file="$(arg laser_type)_laser.launch" />
  
	
	
  <!-- amcl node -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">




  <!-- Publish scans from best pose at a max of 10 Hz -->
  <param name="use_map_topic" value="false"/>

  <param name="odom_frame_id" value="odom"/>
  <param name="base_frame_id" value="base_link"/>
  <param name="global_frame_id" value="2d_map_frame"/>

  <param name="initial_pose_x" value="0.0"/>
  <param name="initial_pose_y" value="0.0"/>
  <param name="initial_pose_a" value="0.0"/>

  <param name="odom_model_type" value="diff"/>
  <param name="odom_alpha5" value="0.1"/>
  <param name="transform_tolerance" value="0.5" />
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="1440"/>
  <param name="laser_max_range" value="25"/>

  <param name="resample_interval" value="1"/>  
  <param name="recovery_alpha_slow" value="0"/> 
  <param name="recovery_alpha_fast" value="0"/>
  <param name="save_pose_rate" value="0.5"/>


  <param name="initial_cov_xx" value="0.5"/>
  <param name="initial_cov_yy" value="0.5"/>
  <param name="initial_cov_aa" value="1"/>
  <param name="kld_err" value="0.05"/>
  </node>


  <!-- teleop -->
  <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch" />
  
  
  <!-- rviz -->
   <node pkg="rviz" type="rviz" name="rviz" args="-d /home/m1/Turtlebot_cooridoor/acml/acml.rviz "></node>
     
 <!-- add laser to base link tf-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.18 0 0.0 0.0 base_link laser 100"/>
  
  

</launch>
